<div id="personal">
  <ul class="social">
    <li>I put my code on <a href="https://github.com/{{ site.github_user }}">GitHub</a></li>
    <li>I hang mostly on <a href="https://twitter.com/{{ site.twitter_user }}">Twitter</a> and <a href="https://plus.google.com/{{ site.googleplus_user }}">Google+</a></li>
    <li>I work at <a href="{{ site.work_url }}" title="{{ site.work_name }}">{{ site.work_name }}</a></li>
  </ul>
  <ul class="toolbox">
    <li>You can grab my <a href="{{ site.subscribe_rss }}">RSS Feed</a></li>
  </ul>
  <br style="clear:both;">
</div>
